*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: yellow;
    height: 1000px;
}
#shr{
    width: 100%;
    height: 70px;
    background-color: rgb(201, 201, 201);
}
#title{
    line-height: 70px;
    /* padding-left: 8px; */
    text-align: center;
    color: rgb(158, 24, 24);
    font-size: 60px;
}
#main{
    text-align: center;
}
#codes{
    width: 70%;
    min-height: 350px;
    margin: 10px;
    /* border-radius: 15px; */
    border: 3px solid rgb(95, 0, 0);
}
#buttons{
    display: flexbox;
    justify-content: space-evenly;
}
#buttons button{
    width: 35%;
    padding: 5px;
    border-radius: 15px;
    border: 0px;
}
#delet{
    background-color: red;
    color: white;
    font-size: 15px;
    margin: 3px;
}
#play{
    background-color: black;
    color: white;
    font-size: 15px;
    margin: 3px;
}
#title-result{
    padding: 10px;
    border-bottom: 2px solid black;
    margin: 8px 0px;
    font-weight: bold;
}